.form-group { margin: 9px; }
body.slide-active { overflow-x: hidden}
.no-margin-top { margin-top: 0px!important}
#page-content {
    position: relative;
    padding-top: 70px;
    left: 0;
}
#page-content.slide-active { padding-top: 0}

#slide-nav .navbar-toggle.slide-active .icon-bar.none { display:none;}
#slide-nav .navbar-toggle.slide-active .icon-bar.forward {
	transform: rotate(45deg);
	margin-top:15px;
}
#slide-nav .navbar-toggle.slide-active .icon-bar.backward {
	transform: rotate(135deg);
	margin-top:-3px;
}

#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar { background: #a94442; }
.navbar-header { position: relative;}
.navbar.navbar-fixed-top.slide-active {
    position: relative
}

@media (max-width:767px) { 
	.navbar-nav>li>a { line-height: 32px; font-size: 20px; }
	#slide-nav .container {
	    margin: 0!important;
	    padding: 0!important;
      height:100%;
	}
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    position: absolute;
	    width: 80%;
	    top: -1px;
	    z-index: 1000;
	}
	#slide-nav #slidemenu {
	    background: #f7f7f7;
	    left: -100%;
	    width: 80%;
	    min-width: 0;
	    position: absolute;
	    padding-left: 0;
	    z-index: 2;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 80%;
	    white-space: normal;
	}
	#slide-nav {
	    border-top: 0
	}
	#slide-nav.navbar-inverse #slidemenu {
	    background: #333
	}
	#navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
      bottom:0;
	    width: 80%;
	    left: -80%;
	    background: #f7f7f7;
	}
	#navbar-height-col.inverse {
	    background: #333;
	    z-index: 1;
	    border: 0;
	}
	#slide-nav .navbar-form {
	    width: 100%;
	    margin: 8px 0;
	    text-align: center;
	    overflow: hidden;
	}
	#slide-nav .navbar-form .form-control { text-align: center}
	#slide-nav .navbar-form .btn { width: 100%}
}
@media (min-width:768px) { 
	#page-content { left: 0!important}
	.navbar.navbar-fixed-top.slide-active { position: fixed}
	.navbar-header { left: 0!important}
}

#userpass {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto 50px;
}
#userpass .form-signin-heading,
#userpass .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
#userpass .form-control:focus {
  z-index: 2;
}
#userpass input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#userpass input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#e { position: fixed; right: 1em; z-index: 9000; max-width: 97%; }
#e.alert-danger strong:before { content: "Error:"; } 
#e.alert-success strong:before { content: "Success:"; } 

#app > .home.jumbotron { margin-top:-20px; }
#app > .home td, th { text-align:center; }
#app > .home thead th a { display:block; }
#app > .home thead th a:hover, thead th a:focus { text-decoration:none; }
#app > .home table { background: #fff; }
#app > .home .light { background: #a7b9e9; }
#app > .home .dark { background: #5a69ac; }
#app > .home .black { color: #000; }
#app > .home .white { color: #fff; }
#app > .home .table>tbody>tr>td,
#app > .home .table>tbody>tr>th,
#app > .home .table>tfoot>tr>td,
#app > .home .table>tfoot>tr>th,
#app > .home .table>thead>tr>td,
#app > .home .table>thead>tr>th 
  { border-top:0px; }
#app > .audio { margin-top: -1em; }
#app > .audio #lists { margin-bottom: 70px; }
#app > .audio button.update { margin-left: 1em; }
#app > .audio #e { position: fixed; right: 1em; z-index: 100; }
#app > .audio #l { line-height: 50px; }
#app > .audio #controls { position: fixed; z-index: 50; background: white; }
#app > .audio #lists { margin-top: 30px; }
#app > .audio #lists .list-group { margin-bottom: 70px; }
#app > .audio #t { color: #9d9d9d; height: 100%; line-height: 50px; overflow: hidden; position: absolute; width: 0%; white-space: nowrap; }
#app > .audio #tl { bottom:0; height: 50px; left:0; position: absolute; right:0; width: 100%; }
#app > .git #projects, #app > .git #project { margin-bottom: 50px; }
#app > .git #project > div { position: fixed; width: inherit; padding-right: 3em; }
#app > .git .status .btn { margin-bottom: 0.5em; }
#app > .git .push-0, #app > .git .diff-00, #app > .git .all-000 { display: none; }

#app > .editor .form-group { margin: 9px; }
#app > .editor textarea { resize: none; }
#app > .editor .list-group:last-child { padding-right: 0; }
#app > .editor .list-group { margin-bottom: 0; }
#app > .editor .list-group .list-group-item:nth-of-type(even) { background-color: #f9f9f9; }
#app > .editor .list-group a:last-child { margin-bottom: 20px; }
#app > .editor .list-group-item { cursor: pointer; overflow: hidden; white-space: nowrap; }
#app > .editor .list-group-item img { position:absolute; top:0; right:0; height: 100%; }
#app > .editor .navbar-brand { cursor: pointer; }
#app > .editor .btn-danger { position: absolute; top:0;right:0;bottom:0;border:0;border-radius:0; }
@media (max-width: 767px) {
  //body.body-edit { padding-top: 170px; }
  //.list-group { padding-right: 0; }
}
#app > .editor #m { position: absolute; right: 2em; top: 0.5em; z-index: 100; }

//.list-group:last-child { padding-right: 0; }
//.list-group { margin-bottom: 0; }
//.list-group a:last-child { margin-bottom: 20px; }
//.list-group-item { cursor: pointer; overflow: hidden; white-space: nowrap; }
//.list-group-item img { position:absolute; top:0; right:0; height: 100%; }
//@media (max-width: 767px) {
  //body { padding-top: 100px; }
  //.list-group { padding-right: 0; }
//}
#overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 9000; background: rgba(0,0,0,0.5); padding: 3em; }
#overlay .panel-body { overflow: auto; }
#overlay .line { word-break: break-word; margin-bottom: 0.25em; }
#profile .container-fluid { margin-bottom: 1em; }
#profile .ssh { word-break: break-all;}
#profile { margin-bottom: 50px; }